<!DOCTYPE html>
<html>
  <head>
    <title>ElasticsearchVueFrontend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- COMPONENTS -->
    <% %w{datetime search_button interval url_list chart}.each do |component| %>
      <%= javascript_pack_tag    "components/#{component}" %>
      <%= stylesheet_pack_tag    "components/#{component}" %>
    <% end %>

    <%= javascript_pack_tag    'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
